#ghactivity_settings #canvas-holder {
	float: left;
	width:30%;
}

#ghactivity_admin_report {
	float: left;
	list-style-type: disc;
	padding: 1em 2em;
	width: 30%;
}

#ghactivity_admin_report li .chart-color {
	display: inline-block;
	padding: 0.5em;
	margin: 0 1em;
	-moz-border-radius: 3px/3px;
	-webkit-border-radius: 3px 3px;
	border-radius: 3px/3px;
}
